{% include 'header.html' %}

    <div class="container main">
        <div class="row">
            <div class="col-sm-12">
                <h2>FI MUNI DRILL V2</h2>
                <p>Tento drill bol inšpirovaný <a href="https://github.com/fprochazka/fi-muni-drill/">https://github.com/fprochazka/fi-muni-drill/</a>(bohužiaľ už neexistuje) a <a href="https://github.com/RazorSK/fi-muni-drill">https://github.com/RazorSK/fi-muni-drill</a> a tiež použitý ako zdroj otázok.</p>
                <p>Pokiaľ máte nejaké pripomienky alebo návrhy ako tento drill zlepšiť, neváhaj a napíš na kabell999 at gmail dot com.</p>
            </div>
        </div>
    </div>
{% include 'footer.html' %}
